# Database Configuration
DATABASE_URL=postgresql..................

# Server Configuration
PORT=3000
NODE_ENV=development
# AI Classifier Configuration
AI_CLASSIFIER_URL=

# Articles Configuration
ARTICLES_PER_SOURCE=20

# Scheduler Configuration
SCHEDULER_INTERVAL=10
